@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;600;700;800&family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
.container {
	width: 1000px;
	margin: 0 auto;
}
.link::before {
	transition: all 0.2s ease;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #cbd5e1 #222222;
}

/* для Chrome/Edge/Safari */

.block_with_scroll::-webkit-scrollbar {
	height: 12px;
	width: 20px;
}
.block_with_scroll::-webkit-scrollbar-thumb {
	background: #56042c;
}
.block_with_scroll::-webkit-scrollbar-track {
	background: #cbd5e1;
}
a.active::before {
	width: 100%;
}
